$clr-red: hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);

$clr-very-dark-blue: hsl(234, 12%, 34%);
$clr-grayish-blue: hsl(229, 6%, 66%);
$clr-very-light-gray: hsl(0, 0%, 98%);



$fs-normal: 0.9375rem;
$fs-large: 1.2rem;
$fs-huge: 1.5rem;

$fw-very-light: 200;
$fw-regular: 400;
$fw-semi-bold: 600;



$br-normal: 4px;

$spc-tiny: 0.2em;
$spc-normal: 1em;
$spc-large: 2em;
$spc-huge: 2.5em;